<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" type="text/css" />
  </head>
  <body >

  <div id="app" ui-view></div>

  <!-- jQuery -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>

  <!-- Angular -->
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script> 

  <!-- bootstrap -->
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!-- lazyload -->
  <script src="/bower_components/oclazyload/dist/ocLazyLoad.js"></script>

  <!-- Angular App -->
  <script src="js/angularApp.js"></script>
  <script src="js/config.js"></script>
  <script src="js/router.js"></script>

  </body>
</html>
